/* 10 - sept - 2024 */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


/* 
CDN: 
  A content delivery network (CDN) is a network of interconnected servers that speeds up webpage loading for data-heavy applications. 
  CDN can stand for content delivery network or content distribution network. 
  When a user visits a website, data from that website's server has to travel across the internet to reach the user's computer. 
  If the user is located far from that server, it will take a long time to load a large file, such as a video or website image. 
  Instead, the website content is stored on CDN servers geographically closer to the users and reaches their computers much faster.  
*/

div{
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  /* font-weight: bold; */
  /* font-weight: bolder; */
  /* font-weight: lighter; */
  font-weight: 500;

  /* font-style: normal; */
  font-style: italic;
  font-style: oblique;

  font-variant: small-caps;
}

h1{
  border: 1px solid red;
  margin: 20px;
}

h2{
  border: 1px dashed red;
  padding: 20px;
}