*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
}
main{
    display: flex;
}
div{
    border: 2px solid;
    width: 25vw;
    height: 20vh;
    background-color: gray;
}
@media (max-width: 1000px) {
    section{
        flex-direction: column;
    }
    div{
        width: 50vw;
    }
}
@media (max-width: 600px) {
    main{
        flex-direction: column;
    }
    div{
        width: 100vw;
    }
}
