*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.center_me{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* navbar */

/* upper navbar */
    #upper_nav{
        display: flex;
        height: 60px;
        justify-content: space-evenly;
        align-items: center;    
        background-color: rgb(23, 31, 41);
        color: white; 
        position: sticky;
        top: 0px;
    }

    #logo{
        display: flex;
        justify-content: start;
        align-items: center;
        height: 65%;
    }

    #loc{
        display: flex;
        align-items: end;
        justify-content: center;
        height: 65%;
        /* border: 1px solid red; */
    }

    #searchbar{
        width: 45vw;
        height: 65%;
        display: flex;
        background-color: white;
        border-radius: 5px;
        /* border: 1px solid red; */
    }
    #options_outer{
        background-color: rgb(230, 231, 230);
        height: 100%;
        width: 10%;
        border-radius: 5px 0 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #options{
        background-color: rgb(230, 231, 230);
        border: none;
        padding: px;
    }
    #searchbar>input{
        width: 100%;
        border: none;
    }
    #searchbar>input::placeholder{
        font-weight: bold;
    }
    #search_icon{
        background-color: #febd69;
        border-radius: 0 5px 5px 0;
        width: 9%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #country{
        display: flex;
        align-items: end;
        justify-content: center;
    }
    #country>select{
        background-color: rgb(23, 31, 41);
        color: white;
        border: none;
        font-weight: bold;
    }

    #signin{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    #signin>select{
        background-color: rgb(23, 31, 41); 
        color: white;
        border: none;
        font-weight: bold;
    }

    #cart{
        display: flex;
        align-items: end;
        justify-content: center;
    }

/* lower navbar */
    #lower_nav{
        height: 40px;
        background-color: #232f3f;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 14px;
    }





/* main content */
    main{
        background-color: #e2e6e7;
        display: flex;
        flex-direction: column;
    }
    .corousal{
        height: 500px;
        display: flex;
        overflow: auto;
    }
    .corousal>img{
        min-width: 100%;
    }

/* row 1 */
    .make-me-flexible{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: -280px;
    }
    .o1i{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    .make-me-flexible>div{
        width: 23vw;
        padding: 20px;
        background-color: white;
    }
    .make-me-flexible a{
        text-decoration: none;
        color: rgb(57, 124, 167);
        font-size: 0.8em;
    }

    .div4{
        height: 150px !important;
    }
    .div4 button{
        background-color: #fed813;
        border: none;
        width: 100%;
        border-radius: 50px;
        padding: 8px;
    }

/* row 2 */

    .card-4i{
        height: 60vh;
        width: 23vw;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;  
    }
    .title{
        height: 13%;
    }
    .offers{
        height: 7%;
    }


    .content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 75%;
    }

    .row1, .row2{
        display: flex;
        justify-content: space-between;
    }
    .col1, .col2{
        width: 140px;
        height: 170px;
    }
    .offers>a{
        text-decoration: none;
        color: rgb(57, 124, 167);
        font-size: 0.8em;
    }
    .card-4i p{
        font-size: 0.8em;
    }

/* row 3 */
.smooth-corousal{
    margin: 20px;
    padding: 20px;
    background-color: white;
    position: relative;
    top: -280px;
}
.smooth-corousal>.title{
    display: flex;
    align-items: end;
}
.smooth-corousal .images{
    margin: 10px;
    display: flex;
    min-width: 300px;
    overflow: auto;
}

/* row 4 */
.gapped-corousal{
    margin: 20px;
    padding: 20px;
    background-color: #ffd87d;
    position: relative;
    top: -280px;
}
.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    overflow: auto;
    min-width: 80%;
}
.card{
    height: 350px;
    width: 20%;
    background-color: white;
    margin: 5px;
    min-width: 260px;
}
.card .div1{
    font-size: .8em;
}
.card .div1>.off{
    color: white;
    background-color: #cc0d39;
    padding: 5px;
}












































/* bottom signin section */
    #chota_hr>hr{
        width: 98%;
    }

    #bottom_signin{
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 14px;
    }
    #bottom_signin>div>button{
        background-color: #ffc32d;
        border: 1px solid goldenrod;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        border-radius: 5px;
    }

/* back to top */
    #back_to_top>a{
        text-decoration: none; 
        color: white;
        height: 100%;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }





/* footer */
    footer{
        height: 750px;
    }

/* footer section1 */
    #footer_sec1{
        height: 55%;
        background-color: #232f3f;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footer_sec1_content{
        width: 70%; 
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    #footer_sec1_content>ul>li{
        margin-top: 15px;
        font-size: 14px;
        color: gainsboro;
    }


/* footer section2 */
    #footer_sec2{
        height: 15%;
        background-color: #232f3f;
        color: white;
        border-top: 1px solid gray;
    }
    #xyz, #abc{
        width: 120px; 
        height: 30px; 
        justify-content: start; 
        border: 1px solid gainsboro;
        padding: 5px;
    }
    #abc{
        margin-left: 10px;
    }
    #xyz,#abc>img,span{
        margin-left: 10px;
    }

/* footer section3 */
    #footer_sec3{
        background-color: #121a22;
        height: 20%;
    }
    #footer_sec3>div{
        width: 70%;
        height: 80%;
        display: flex;
        justify-content: space-between;
    }
    #footer_sec3>div>div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    #footer_sec3 h5{
        color: gainsboro;
    }
    #footer_sec3 span{
        margin: 0;
        color: gray;
        font-size: 12px;
    }

/* footer section4 */
    #footer_sec4{
        background-color: #121a22;
        height: 10%;
        color: gainsboro;
        flex-direction: column;
        font-size: 13px;
    }
    #footer_sec4 a{
        color: gainsboro;
        text-decoration: none;
    }
