/* 12 - sept - 2024 */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 95vw;    
    display: flex;
    justify-content: center;
    align-items: center;
}



/* box-shadow */

/* div{
    width: 300px;
    height: 300px;
    box-shadow: 10px 5px 100px gray;
} */





/* background properties */

    /* div{
        border: 10px solid goldenrod;
        width: 400px;
        height: 400px;
        background-color: antiquewhite;
        background-image: url(live.jpg);

        background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
     in contain priorty goes to image and in cover the priority goes to the  parent block 

        background-position:center;
        background-position:left;
        background-position:right;
        background-position:top;
        background-position:bottom;  
    } */



div{
    width: 300px;
    height: 300px;
    border: 10px solid;
    border-radius: 50%;
    background-image: linear-gradient(to top left, red, orange,yellow);
    background-image: radial-gradient( red, orange,yellow);
    /* background-image: repeating-radial-gradient( aqua 1%,blue 2%); */
    background-image: conic-gradient( red,yellow, aqua,blue,rgb(225, 34, 142), orange);
    /* background-image: repeating-conic-gradient(aqua 1%,blue 4%); */
}