*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: start;
    align-items: end;
    height: 70vh;
    width: 100vw;
}
div{
    background-size: cover;
}
.car{
    background-image: url(carr.png);
    height: 350px;
    width: 450px;
}
.car > div{
    height: 60px;
    width: 60px;
    position: relative;
}
.wheel1{
    background-image: url(tyre.png);    
    top: 250px;
    left: 105px;
}
.wheel2{
    background-image: url(tyre.png);
    top: 194px;
    left: 309px;
}


.car:hover{
    transform: translate(1500px);
    transition-duration: 10s;
}