*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: grey;

}
div{
    display: flex;

}

.secHand{
    height: 170px;
    position:absolute;
    left: 720px;
    top: 220px;
    border-right: 1px solid red;
    animation: secHand;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;

}

@keyframes secHand{
    from{

    }
    to{
        transform: rotate(360deg);
    }
}

.minHand{
    height: 160px;
    position:absolute;
    left: 720px;
    top: 230px;
    border-right: 3px solid black;
    animation: minHand;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;

}

@keyframes minHand{
    from{

    }
    to{
        transform: rotate(360deg);
    }
}

.hrHand{
    height: 140px;
    position:absolute;
    left: 718px;
    top: 250px;
    border-right: 5px solid green;
    animation: hrHand;
    animation-duration: 216000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: bottom;

}

@keyframes hrHand{
    from{

    }
    to{
        transform: rotate(360deg);
    }
}