/* 06 - sept - 2024 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: darkgray;
}

/* remove scrollbar */

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* this is very important*/
} 
div{ 
  height: 300px;
  width: 300px;
  border: 1px solid;
  overflow: auto;
  /* always use auto because it doesn't show unnecessary horizontal and vertical scrollbars 
      rather it shows only when it is needed */
}

div::-webkit-scrollbar{
  /* used to modify browser elements */
  background-color: red;
  width: 15px;
  display: none;
  /* none will hide the scrollbar */
}




/* colors in css */

#color_me{
  height: 200px;
  width: 200px;

  /* predefined colors */
    background-color: red;





  /* RGB colors: we can make 256*256*256 colors */
    background-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-color: rgb(100, 100, 100); /*(same, same, same) ===> give shades of grey */
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);
    background-color: rgb(20, 190, 100);





  /* hexadecimal colors: (0-9 and a-f) */
    background-color: #123456;
    background-color: #000000;
    background-color: #ffffff;
    background-color: #dddddd;
    background-color: #aa0000;
    background-color: #00aa00;
    background-color: #0000aa;





  /* hsl color: rarely used color; refer image for details*/
  /* background-color: hsl(hue, saturation, lightness); */
    background-color: hsl(240deg, 50%, 50%);





  /* rgba(); a = alpha == opacity for transparency */
  /* hsla(); a = alpha == opacity for transparency */
  background-color: rgba(10, 200, 8, 0.1);
  background-color: hsla(60deg, 100%, 50%, .3);

}